<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <div class="col-md-12">
          <h4>New Remittance </h4>
          <label class="text-info">Cash on Hand: <%= number_to_currency Accounting::Account.find_by(name: "Cash on Hand").balance({from_date: @from_date, to_date: Time.zone.now.end_of_day}) %></label>
        </div>
      </div>
      <div class="card-body">
        <%=simple_form_for @entry do |f| %>
        <%=f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
            </div>
            <div class="col-md-6">
              <%=f.input :reference_number %>
            </div>
          </div>
          <%=f.input :commercial_document_id, input_html: {value: current_user.id}, as: :hidden %>
          <%=f.input :commercial_document_type, input_html: { value: "Employee"}, as: :hidden %>
          <%=f.input :description, as: :text %>
            <h4>AMOUNT</h4>
            <%=f.simple_fields_for :debit_amounts do |ff| %>
              <div class="form-group has-success">
                <%=ff.input :amount, input_html: { class: 'input-lg' } %>
              </div>
              <%=ff.association :account, input_html: { value: Accounting::Account.find_by(name: "Cash in Bank").id}, readonly: true, as: :hidden %>
            <% end %>

            <%=f.simple_fields_for :credit_amounts do |ff| %>
              <%=ff.input :amount, as: :hidden %>
              <%=ff.association :account, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand").id}, readonly: true, as: :hidden %>
            <% end %>
          <div class="modal-footer">
            <%= f.submit 'Save Transaction', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', accounting_entries_path, class: 'btn btn-default' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>