<div class="tab-pane <%='active' if current_page? account_details_customer_path %>">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date </th>
        <th>Reference Number </th>
        <th>Credit</th>
        <th>Payment</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%=order.date.strftime("%B %e, %Y") %></td>
        <td><%=order.invoice_number.try(:number) %></td>
        <td><%=number_to_currency order.total_amount_less_discount %></td>
        <td><%= number_to_currency order.total_payment %></td>
        <td><%= number_to_currency order.balance %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
