<div class="tab-pane <%='active' if current_page? advances_customer_path %>">
  <div class="row">
    <div class="col-md-4">
      <h4 class="text-danger text-center"><%= number_to_currency @member.total_cash_advance %></h4>
      <h5 style="margin-bottom: 1px" class="text-muted text-center">CASH ADVANCES</h5>
      <% if @member.last_cash_advance_created_at.present? %>
        <small style="margin-bottom: 1px" class="text-muted"><center>Updated <%= time_ago_in_words(@member.last_cash_advance_created_at) %> ago</center></small>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4 class="text-info text-center"><%= number_to_currency @member.total_cash_advance_payment %></h4>
      <h5 style="margin-bottom: 1px" class="text-muted text-center">CASH ADVANCE PAYMENTS</h5>
      <% if @member.last_cash_advance_payment_created_at.present? %>
        <small class="text-muted"><center>Updated <%= time_ago_in_words(@member.last_cash_advance_payment_created_at) %> ago</center></small>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4 class="text-success text-center"><%= number_to_currency @member.total_cash_advance_balance %></h4>
      <h5 class="text-muted text-center">BALANCE</h5>
    </div>
  </div>
  <hr style="margin:10px 0px 10px 0">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag({:action => "advances", controller: "customers", format: 'pdf', customer_id: @member.id}, {:method => :get})  do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From ", value: Time.zone.now.beginning_of_month.strftime("%Y-%m-%d") %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To ", value: Time.zone.now.strftime("%Y-%m-%d") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Default button group">
              <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
              <%=link_to scope_to_date_customer_advances_path(@member, :from_date => @advances.first.try(:date), :to_date => @advances.last.try(:date), format: 'pdf')  do %>
                <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Full) </btn>
              <% end %>
            </div>
          </div>
          <div class="col-md-2">
            <%=link_to 'New Entry', new_customer_advance_path(@member), class: "pull-right btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @advances.each do |advance| %>
            <tr>
              <td><%=advance.date.try(:strftime, "%B %e, %Y") %></td>
              <td><%=number_to_currency advance.debit_amounts.sum(:amount) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- <script>
  $(document).ready(function(){
    $('#viewReport').prop('disabled',true);
    $('.to-date').click(function(){
      $('#viewReport').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script> -->
