
<div class="tab-pane <%='active' if current_page? info_customer_path %>">
  <h4>Basic Info
    <span class="pull-right">
      <% if @member.class.name == "Member" %>
        <%= link_to 'Update Info', edit_member_path(@member), remote: true, class: 'btn btn-warning'%>
      <% elsif @member.class.name == "Organization" %>
        <%= link_to 'Update Info', edit_organization_path(@member), remote: true, class: 'btn btn-warning'%>
      <% end %>
    </span>
  </h4>
  <table class="table table-striped">
    <tr>
      <td style="width:120px">Full Name: </td>
      <td><b><%=@member.full_name %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Mobile: </td>
      <td><b><%=@member.mobile || "N/A" %></b></td>
    </tr>
    <tr>
      <td style="width:120px">Address: </td>
      <td><b><%=@member.address_details || "N/A"%></b></td>
    </tr>
  </table>
</div>
