<div class="tab-pane <%='active' if current_page? payments_customer_path %>">
  <div class="row">
    <div class="col-md-12">
      <%= form_tag({:action => "payments", controller: "customers", format: 'pdf', customer_id: @member.id}, {:method => :get})  do %>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :from_date, @from_date, :class => 'from-date datepicker-reporting form-control border-input', :placeholder => "From ", value: Time.zone.now.beginning_of_month.strftime("%Y-%m-%d") %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <%= text_field_tag :to_date, @to_date, :class => 'to-date form-control border-input datepicker-reporting', :placeholder => "To ", value: Time.zone.now.strftime("%Y-%m-%d") %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="btn-group" role="group" aria-label="Default button group">
              <button type="submit" class="btn btn-success" id="viewReport"><i class="fa fa-print"></i> View Report </button>
              <%=link_to scope_to_date_customer_payments_path(@member, :from_date => @payments.first.try(:date), :to_date => @payments.last.try(:date), format: 'pdf')  do %>
                <btn class="btn btn-info"><i class="fa fa-print"></i> View Report(Full) </btn>
              <% end %>
            </div>
          </div>
          <div class="col-md-2">
            <% if @member.with_credits? %>
              <span class='pull-right'><%=link_to 'New Payment', new_customer_payment_path(@member), class: 'btn btn-primary' %> </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date </th>
        <th>Reference Number </th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
      <tr>
        <td><%=payment.date.strftime("%B %e, %Y") %></td>
        <td><%=payment.reference_number %></td>
        <td><%= number_to_currency payment.credit_amounts.last.amount %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
