<div class="tab-pane <%='active' if current_page? deleted_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchase Date</th>
        <th></th>
        <th>Qty </th>
        <th>Sold </th>
        <th>In Stock </th>
        <th>Unit</th>
        <th>Supplier</th>
        <th>Lot Number</th>
        <th>Exp. Date </th>
        <th>Unit Cost </th>
        <th>Total Purchase </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@deleted.each do |stock| %>
        <tr>
          <td><%=link_to stock.date.strftime('%B %e, %Y'), product_stock_path(product_id: @product.id, id: stock.id), remote: true %></td>
          <td>
            <small class='label label-danger'><%=stock.alert %></small>
          </td>
          <td><%=stock.quantity %></td>
          <td><%=stock.sold %></td>
           <td><%=stock.in_stock %></td>
          <td><%=stock.product.unit %></td>
          <td><%=stock.supplier.business_name %></td>
          <td><%= stock.lot_number %></td>
          <td>
            <% if stock.expiry_date.present? %>
              <%= stock.expiry_date.strftime("%b %e, %Y") %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= number_to_currency stock.unit_cost %></td>
          <td><%=number_to_currency stock.total_cost %></td>
          <td class="pull-right">
            <%= link_to "Details", product_stock_path(product_id: @product.id, id: stock.id), class: 'btn btn-xs btn-info', remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @deleted, :window => 1 %></center>
  </div>
</div>