<div class="tab-pane <%='active' if current_page? deleted_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchase Date</th>
        <th></th>
        <th>Qty </th>
        <th>Unit</th>
        <th>Supplier</th>
        <th>Lot Number</th>
        <th>Exp. Date </th>
        <th>Unit Cost </th>
        <th>Total Purchase </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@deleted.each do |item_expense| %>
        <% if item_expense.class.name == "Stock" %>
          <tr>
            <td><%=link_to item_expense.date.strftime('%B %e, %Y'), product_stock_path(product_id: @product.id, id: item_expense.id), remote: true %></td>
            <td>
              <small class='label label-danger'>
                <% if item_expense.alert.present? %>
                  <%=item_expense.alert.titleize %>
                <% else %>
                  N/A
                <% end %>
              </small>
            </td>
            <td><%=item_expense.quantity %></td>
            <td><%=item_expense.product.unit %></td>
            <td><%=item_expense.supplier.business_name %></td>
            <td><%= item_expense.try(:lot_number) %></td>
            <td>
              <% if item_expense.expiry_date.present? %>
                <%= item_expense.expiry_date.strftime("%b %e, %Y") %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td><%= number_to_currency item_expense.unit_cost %></td>
            <td><%= number_to_currency (item_expense.quantity * item_expense.unit_cost) %></td>
            <td class="pull-right">
              <% if item_expense.expired? %>
                <%= link_to "Details", product_stock_path(product_id: @product.id, id: item_expense.id), class: 'btn btn-xs btn-info', remote: true %>
              <% else %>
                <%= link_to "Details", product_stock_path(product_id: item_expense.product.id, id: item_expense.id), class: 'btn btn-xs btn-info', remote: true %>
              <% end %>
            </td>
          </tr>
        <% else %>
          <tr>
            <td><%=link_to item_expense.created_at.strftime('%B %e, %Y'), product_stock_path(product_id: @product.id, id: item_expense.stock.id), remote: true %></td>
            <td><small class='label label-danger'><%=item_expense.expense_type.titleize %></small></td>
            <td><%=item_expense.quantity %></td>
            <td><%=item_expense.product.unit %></td>
            <td><%=item_expense.stock.supplier.business_name %></td>
            <td><%= item_expense.stock.lot_number %></td>
            <td>
              <% if item_expense.stock.expiry_date.present? %>
                <%= item_expense.stock.expiry_date.strftime("%b %e, %Y") %>
              <% else %>
                N/A
              <% end %>
            </td>
            <td><%= number_to_currency item_expense.stock.unit_cost %></td>
            <td><%=number_to_currency (item_expense.quantity * item_expense.stock.unit_cost) %></td>
            <td class="pull-right">
              <% if item_expense.expired? %>
                <%= link_to "Details", product_stock_path(product_id: @product.id, id: item_expense.stock.id), class: 'btn btn-xs btn-info', remote: true %>
              <% else %>
                <%= link_to "Details", product_stock_item_expense_path(product_id: item_expense.product.id, stock_id: item_expense.stock.id, id: item_expense.id), class: 'btn btn-xs btn-info', remote: true %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @deleted, :window => 1 %></center>
  </div>
</div>
<div id="item-expense-show-modal" class="modal fade"></div>
<div id="stock-show-modal" class="modal fade"></div>