<div class="tab-pane <%='active' if current_page? stock_histories_product_path %>">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Purchase Date</th>
        <th></th>
        <th>Qty </th>
        <th>Sold </th>
        <th>In Stock </th>
        <th>Unit</th>
        <th>Supplier</th>
        <th>Lot Number</th>
        <th>Exp. Date </th>
        <th>Unit Cost </th>
        <th>Total Purchase </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%@stocks.each do |stock| %>
        <tr>
          <td><%=link_to stock.date.strftime('%B %e, %Y'), product_stock_path(product_id: @product.id, id: stock.id), remote: true %></td>
          <td>
            <small class='label label-<%= "danger" if stock.alert == "Expired"%><%= "danger" if stock.alert == "Out of Stock"%><%="warning" if stock.alert == "Low Stock"%>'><%=stock.alert %></small>
          </td>
          <td><%=stock.quantity %></td>
          <td><%=stock.sold %></td>
           <td><%=stock.in_stock %></td>
          <td><%=stock.product.unit %></td>
          <td><%=stock.supplier.business_name %></td>
          <td><%= stock.lot_number %></td>
          <td>
            <% if stock.expiry_date.present? %>
              <%= stock.expiry_date.strftime("%b %e, %Y") %>
            <% else %>
              N/A
            <% end %>
          </td>
          <td><%= number_to_currency stock.unit_cost %></td>
          <td><%=number_to_currency stock.total_cost %></td>
          <td class="pull-right">
            <a tabindex="0" id="details" class="btn btn-xs btn-info" role="button" data-toggle="popover" data-placement="left" data-html="true" data-trigger="focus" title="Options" data-content='
              <%= link_to "Details", product_stock_path(product_id: @product.id, id: stock.id), class: "btn btn-xs btn-info btn-block", remote: true %>
              <% if current_user.proprietor? || current_user.developer? %>
                <%= link_to "Edit Stock", edit_product_stock_path(product_id: @product.id, id: stock.id), class: "btn btn-xs btn-warning btn-block" %> 
              <% end %>
              <% if stock.deleted? %>
                <%= link_to "Remove from Expenses", product_stock_remove_from_expenses_path(product_id: @product.id, stock_id: stock.id), data: {confirm: "You are trying to remove this stock from expense entries. It will be listed on stocks after confirmation. Do you wish to continue? "}, class: "btn btn-xs btn-success btn-block" %>
              <% else %>
                <%= link_to "Add to Expenses", new_product_stock_item_expense_path(product_id: @product.id, stock_id: stock.id), class: "btn btn-xs btn-danger btn-block", remote: true %>
                <% if stock.line_items.present? && (current_user.proprietor? || current_user.developer?) %>
                  <%= link_to "Delete Stock", product_stock_delete_path(product_id: @product.id, stock_id: stock.id), title: 'Delete Stock', data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'}, class: "btn btn-xs btn-danger btn-block" %>
                <% else %>
                  <%= link_to "Delete Stock", product_stock_path(product_id: @product.id, stock_id: stock.id), method: :delete, data: {confirm: 'Are you sure you want to delete this stock? This action can not be undone.'}, class: "btn btn-xs btn-danger btn-block" %>
                <% end %>
              <% end %>'>
              Options
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @stocks, :window => 1 %></center>
  </div>
</div>
<div id="stock-show-modal" class="modal fade"></div>
<div id="item-expense-modal" class="modal fade"></div>
<div id="product-modal" class="modal fade"></div>