<ul class="nav navbar-nav">
  <li>
    <a href="">
      <span class="title">MAIN NAVIGATION</span>
    </a>
  </li>
  <!-- <li>
    <a href="/account/index">
      <span class="icon fa fa-home"></span><span class="title">Account</span>
    </a>
  </li> -->
  <li>
    <a href="/store/index">
      <span class="icon fa fa-shopping-basket"></span><span class="title">Store</span>
    </a>
  </li>
  <li>
    <a href="/products">
      <span class="icon fa fa-cubes"></span><span class="title">Items</span>
    </a>
  </li>
  <li>
    <%= link_to retail_orders_path do %>
      <span class="icon fa fa-cart-plus"></span><span class="title">Sales</span>
    <% end %>
  </li>
  <li>
    <a href="/credits">
      <span class="icon fa fa-money-bill text-danger"></span><span class="title">Accounts Receivables</span>
    </a>
  </li>
  <% if current_user.proprietor? || current_user.developer? %>
    <li>
      <a href="/cash_advances">
        <span class="icon fa fa-money-bill"></span><span class="title">Cash Advances</span>
      </a>
    </li>
  <% end %>
  <!-- <li>
    <%#= link_to credit_collections_path do %>
      <span class="icon fa fa-money"></span><span class="title">AR Collections</span>
    <%# end %>
  </li> -->
  <li>
    <a href="/customers">
      <span class="icon fa fa-users"></span><span class="title">Customers</span>
    </a>
  </li>
  <li>
    <a href="/suppliers">
      <span class="icon fa fa-truck"></span><span class="title">Suppliers</span>
    </a>
  </li>
  <li>
    <a href="/reports">
      <span class="icon fa fa-chart-bar"></span><span class="title">Reports</span>
    </a>
  </li>
  <li>
    <a href="">
      <span class="title">ACCOUNTING</span>
    </a>
  </li>
  <li>
    <%= link_to active_accounts_accounting_index_path do %>
      <span class="icon fa fa-book-open"></span><span class="title">Accounts</span>
    <% end %>
  </li>
  <!-- <li>
    <a href="/accounting/income_statements">
      <span class="icon fa fa-area-chart"></span><span class="title">Income Statement</span>
    </a>
  </li>
  <li>
    <a href="/accounting/balance_sheets">
      <span class="icon fa fa-balance-scale"></span><span class="title">Balance Sheet</span>
    </a>
  </li> -->
  <li>
    <a href="/accounting/entries">
      <span class="icon fa fa-book"></span><span class="title">Entries</span>
    </a>
  </li>
  <!-- <li>
    <%#= link_to vouchers_path do %>
      <span class="icon fa fa-credit-card"></span><span class="title">Voucher</span>
    <%# end %>
  </li> -->
</ul>
