<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
    	<div class="row">
				<div class="col-md-6">
					<h4 class="modal-title">Entry Details</h4>
				</div>
				<div class="col-md-6">
					<span class="pull-right">
						<p><%=@entry.date.strftime("%B %e, %Y") %></p>
						<p><%=@entry.reference_number%></p>
					</span>
				</div>
			</div>
    </div>
    <div class="modal-body">
			<p><strong>Description</strong></p>
			<span>&nbsp &nbsp &nbsp<%=@entry.description %></span>
			<hr>
			<p><strong>Customer/Employee/Supplier:</strong></p>
			<span>
				<% if @entry.commercial_document.present? %>
					&nbsp &nbsp &nbsp<%=@entry.commercial_document_type.to_s.constantize.find(@entry.commercial_document_id) %>
				<% end %>
			</span>
			<hr>
			<p><strong>Debited Account(s)</strong></p>
			<%@entry.debit_amounts.each do |d|%>
				<div class="row">
					<div class="col-md-12">
						&nbsp &nbsp &nbsp<%=d.account.name %><span class="pull-right"><%=number_to_currency d.amount %></span>
					</div>
				</div>
			<%end %>
			<hr>

			<p><strong>Credited Account(s)</strong></p>
			<%@entry.credit_amounts.each do |d|%>
				<div class="row">
					<div class="col-md-12">
						&nbsp &nbsp &nbsp<%=d.account.name %> <span class="pull-right"><%=number_to_currency d.amount %></span>
					</div>
				</div>
			<% end %>
			<br>
			<div class="modal-footer">
				<%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
				<% if current_user.proprietor? || current_user.developer? %>
					<%=link_to 'Delete Entry', accounting_entry_path(@entry), method: :delete, data: {confirm: 'Are you sure you want to DELETE this entry? THIS ACTION CANNOT BE UNDONE.'}, class: 'text-danger' %>
				<% end %>
			</div>
		</div>
	</div>
</div>
