<div class="row">
  <div class="col-md-12">
    <div class="card overlap-height">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <h4>Accounts Receivables </h4>
            </div>
            <div class="col-md-4">
              <%=form_tag accounting_advances_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <span class="pull-right">
                <%=link_to 'Advances to Employees', new_accounting_advance_path, class: "btn btn-success" %>
                <%=link_to 'Print Report', credits_path(format: 'pdf'), class: "btn btn-info" %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Updated at</th>
                <th>Lender </th>
                <th>Principal</th>
                <th>Payment</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @lenders.each do |lender| %>
                <tr>
                  <td><%=lender.last_credit_created_at.try(:strftime, "%B %e, %Y") %></td>
                    <td>
                      <%=image_tag(lender.profile_photo.url(:small), class: 'img-circle', height: 35, width: 35) %>
                      <%=link_to member.full_name, account_details_customer_path(lender) %>
                    </td>
                    <td><%=number_to_currency lender.total_credit %></td>
                    <td><%=number_to_currency lender.total_payment %></td>
                    <td><%=number_to_currency lender.total_remaining_balance %></td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
