<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Advances to Employees</h4>
      </div>
      <div class="card-body">
        <%=simple_form_for @entry do |f| %>
        <%=f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
            </div>
            <div class="col-md-6">
              <%=f.input :reference_number %>
              <%= f.input :entry_type, input_html: {value: "employee_advance"}, as: :hidden %>
            </div>
          </div>
          <span>
            <label>Lender</label>
            <span class="pull-right">
              <%=link_to "New Lender", new_lender_path, remote: true, class: 'btn btn-xs btn-primary' %>
            </span>
          </span>
          <%=f.association :commercial_document, label: false, collection: Lender.all.map { |c| [c.reversed_name, c.id]}, input_html: {id: "lender_id"} %>
          <%=f.input :description, as: :text %>
          <%=f.simple_fields_for :debit_amounts do |ff| %>
            <%=ff.input :account_id, label: "Debit Account", collection: Accounting::Account.active.all %>
            <%=ff.input :amount, as: :string, input_html: {class: 'input-lg'} %>
          <% end %>
          <%=f.simple_fields_for :credit_amounts do |ff| %>
            <div class="form-group has-success">
              <%=ff.input :amount, as: :hidden %>
            </div>
            <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand").id}, readonly: true, as: :hidden %>
          <% end %>
          <div class="modal-footer">
            <%= f.submit 'Save Transaction', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', accounting_entries_path, class: 'btn btn-default' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#lender_id").select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#accounting_entry_debit_amounts_attributes_0_account_id").select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>

<div id="lender-modal" class="modal fade"></div>