<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4>
        <%=@product.name_and_description %> &nbsp &nbsp <small class='label label-danger'><%=@stock.alert %></small>
        <small class='label label-<% "danger" if @stock.payment_type == "credit" %><% "success" if @stock.payment_type == "cash" %>'><%= @stock.payment_type %></small>
      </h4>
      <h5> In Stock: <small class='label label-success'><%=@stock.in_stock %> <%=@stock.product.unit %></small></h5>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <table class="table table-hover">
            <tr>
              <td>Date of Purchase:</td>
              <td><h5><%=@stock.date.strftime("%B %e,%Y") %></h5></td>
            </tr>
            <tr>
              <td>Supplier:</td>
              <td><h5><%=@stock.supplier %></h5></td>
            </tr>
            <tr>
              <td>Expiry Date:</td>
              <td><h5><%= @stock.expiry_date.strftime("%B %e,%Y") if @stock.expiry_date.present? %></h5></td>
            </tr>
            <tr>
              <td>Lot Number:</td>
              <td><h5><%=@stock.lot_number %></h5></td>
            </tr>
            <tr>
              <td>Purchase Quantity:</td>
              <td><h5><%=@stock.quantity %> <%=@stock.product.unit %></h5></td>
            </tr>
            <tr>
              <td>Purchase Price:</td>
              <td><h5><%=number_to_currency @stock.unit_cost %></h5></td>
            </tr>
            <tr>
              <td> Total Cost:</td>
              <td><h5><%=number_to_currency @stock.total_cost %></h5></td>
            </tr>
          </table>
          <div class="modal-footer">
            <div class="pull-left">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
            </div>
            <div class="pull-right">
              <% if @stock.deleted? %>
                <%= link_to "Remove from Expenses", product_stock_remove_from_expenses_path(product_id: @product.id, stock_id: @stock.id), data: {confirm: "You are trying to remove this stock from expense entries. It will be listed on stocks after confirmation. Do you wish to continue? "}, class: "btn btn-xs btn-success btn-block" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

                    