<div class="row">
  <div class="col-md-7">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4><%= @product.name_and_description.upcase %></h4>
          <h5 class="text-info ">In-stock: <%= @product.in_stock %> <%= @product.unit %></h5>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <h4 class="text-center"><%= number_to_currency(@product.retail_price) %></h4>
            <center class="text-muted text-center">Retail</center>
          </div>
          <div class="col-md-4">
            <h4 class="text-center"><%= number_to_currency(@product.botika_price) %></h4>
            <center class="text-muted text-center">Botika</center>
          </div>
          <div class="col-md-4">
            <h4 class="text-center"><%= number_to_currency(@product.pharmacy_price) %></h4>
            <center class="text-muted text-center">Pharmacy</center>
          </div>
        </div>
        <hr>
        <h4>Stock Histories</h4>
        <table class="table table-hover">
          <tr>
            <th>Date</th>
            <th>Quantity</th>
            <th>Supplier</th>
            <th class="text-right">Cost</th>
            <th class="text-right">Total</th>
          </tr>
          <% @stocks.each do |stock| %>
            <tr>
              <td><%= stock.date.strftime("%B %e, %Y") %></td>
              <td><%= stock.quantity %></td>
              <td><%= stock.supplier %></td>
              <td class="text-right"><%= stock.unit_cost %></td>
              <td class="text-right"><%= stock.total_cost %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card min-height">
        <div class="card-header">
          <div class="card-title">
            <h4> New Stock</h4>
          </div>
        </div>
        <div class="card-body">
          <%=simple_form_for [@product, @stock], url: :product_stocks  do |f| %>
            <%=f.error_notification %>
            <div class="row">
              <div class="col-md-12">
                <span class="pull-right"><%= link_to "New Supplier?", new_supplier_path, class: "btn btn-xs btn-primary", remote: true %></span>
                <%=f.input :supplier_id, collection: Supplier.all.map{ |a| [a.business_name, a.id]} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :reference_number %>
              </div>
              <div class="col-md-6">
                <%=f.input :date, as: :string, label: 'Date Purchased', input_html: {class: "datepicker"} %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :expiry_date, as: :string, input_html: {class: "datepicker"} %>
              </div>
              <div class="col-md-6">
                <%=f.input :lot_number %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%=f.input :payment_type, collection: Stock.payment_types.keys.to_a.map{|a| [a.titleize, a]}, default: Stock.payment_types.first %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Purchase Quantity (<%= @stock.product.unit%>)</label>
                <%=f.input :quantity, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
              </div>
              <div class="col-md-6">
                <label>Purchase Price / <%= @stock.product.unit%></label>
                <%=f.input :unit_cost, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
              </div>
            </div>
            <%=f.input :total_cost, input_html: { class: 'input-lg' }, label: 'Total Cost', readonly: true %>
            <div class="modal-footer">
              <%=f.submit "Save Stock", class: "btn btn-primary saveStock" %>
              <span class='pull-left'><%=link_to 'Cancel', stock_histories_product_path(@product), class: 'btn btn-default' %></span>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<div id="supplier-modal" class="modal fade"></div>

<script>
  $(document).ready(function(){
    $('.saveStock').prop('disabled',true);
    $('#stock_quantity').change(function(){
      $('.saveStock').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>

<script>
  $(document).ready(function() {
    $("#stock_supplier_id").select2({
      theme: "bootstrap"
    });
  });
</script>