<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Edit Barcode</h4>
    </div>
    <%=simple_form_for [@product, @barcode], remote: true do |f| %>
    <%=f.error_notification %> 
      <div class="modal-body">
        <ul class="errors text-danger">
        </ul>
        <h4 class="text-center"><%= @product.name_and_description %></h4>
        <center class="text-muted ">Product Name</center>
        <hr>
        <%= f.input :code, label: 'Barcode' %>
      </div>
      <div class="modal-footer">
        <%=f.submit "Update", class: "btn btn-primary saveStock" %>
        <%= link_to "Cancel", "#", class: "btn btn-default pull-left", data: {dismiss: "modal"} %>
      </div>
    <% end %>
  </div>
</div>