<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">New Expense</h4>
      </div>
      <div class="card-body">
        <%=simple_form_for @entry, url: :accounting_disbursements do |f| %>
        <%=f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
            </div>
            <div class="col-md-6">
              <%=f.input :reference_number %>
            </div>
          </div>
          <%=f.input :commercial_document_id, input_html: {value: current_user.id}, as: :hidden %>
          <%=f.input :commercial_document_type, input_html: { value: "Employee"}, as: :hidden %>
          <%=f.input :employee_id, input_html: { value: current_user.id}, as: :hidden %>
          <%=f.input :description, as: :text %>
          <%=f.input :expense_account_id, collection: Accounting::Expense.active.all %>
          <%=f.input :amount, input_html: {class: 'input-lg'} %>
          <div class="modal-footer">
            <%= f.submit 'Save Expense', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', accounting_entries_path, class: 'btn btn-default' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("#disbursement_form_expense_account_id").select2({
      theme: "bootstrap",
      width: "100%"
    });
  });
</script>