<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Account </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
            </ul>
          <%= simple_form_for @account, remote: true do |f| %>
          <%=f.error_notification %>
            
            <div class="form-group">
              <%=f.input :name %>
            </div>
            <div class="form-group">
              <%=f.input :code %>
            </div>
            <%=f.input :definition, as: :text %>
            <div class="row">
              <div class="col-md-6">
                <%=f.input :type, collection: Accounting::Account.types.to_a.map { |a| [a.gsub('Accounting::', ''), a]} %>
              </div>
              <div class="col-md-6">
                <br>
                <%=f.input :contra %>
              </div>
            </div>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
              <%=f.submit "Save Account", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
