<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          <%= @account.name %>
        </h4>
      </div>
      <div class="card-body">
        <div class="card-title">Entries</div>
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr class="title">
                <th> Date </th>
                <th> Description </th>
                <!-- <th> Proprietor / Supplier </th> -->
                <th> Employee </th>
                <th> Debit</th>
                <th> Credit </th>
              </tr>
            </thead>
            <tbody>
              <% @entries.each do |entry| %>
                <tr>
                  <td><%= entry.date.strftime("%D") %></td>
                  <td><%= entry.description %></td>
                  <td><%=entry.recorder.try(:full_name) %></td>
                  <td>
                    <% entry.debit_amounts.each do |debit| %>
                      <small><%= debit.account.try(:name) %>
                        <span class='pull-right'><%=number_to_currency debit.amount %></span>
                      </small>
                      <% if entry.debit_amounts.count > 1 %><br><% end %>
                    <% end %>
                  </td>
                  <td>
                    <% entry.credit_amounts.each do |debit| %>
                      <small><%= credit.account.try(:name) %>
                        <span class='pull-right'><%=number_to_currency credit.amount %></span>
                      </small>
                      <% if entry.credit_amounts.count > 1 %><br><% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>