<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-3">
              <h4 class="title">Stocks</h4>
            </div>
            <div class="col-md-6">
              <%=form_tag stocks_path, method: :get do %>
                <div class="input-group">
                  <%= autocomplete_field_tag "name", params[:name], autocomplete_stock_name_stocks_path, class: 'form-control', placeholder: 'Search Inventory...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%=link_to 'New Stock', new_stock_path, class: 'btn btn-primary pull-right' %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="nav-tabs-navigation">
          <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="<%='active' if current_page? stocks_path %>">
              <%= link_to stocks_path do %>
                <span class="text-info"><i class="fa fa-server"></i> Available Stocks</span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? out_of_stock_stocks_path %>">
              <%= link_to out_of_stock_stocks_path do %>
                <span class="text-danger"><i class="fa fa-cart-arrow-down"></i> Out of Stock: <%=Stock.out_of_stock.count %></span>
              <% end %>
              </li>
            <li class="<%='active' if current_page? expired_stocks_path %>">
              <%= link_to expired_stocks_path do %>
                <span class="text-danger"><i class="fa fa-warning"></i> Expired: <%=Stock.expired.count %></span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? returned_stocks_path %>">
              <%= link_to returned_stocks_path do %>
                <span class="text-danger"><i class="fa fa-reply"></i> Returned: <%=Refund.count %></span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? forwarded_stocks_path %>">
              <%= link_to forwarded_stocks_path do %>
                <span class="text-danger"><i class="fa fa-share"></i> Forwarded: <%=StockTransfer.count %></span>
              <% end %>
            </li>
            <li class="<%='active' if current_page? discontinued_stocks_path %>">
              <%= link_to discontinued_stocks_path do %>
                <span class="text-danger"><i class="fa fa-lock"></i> Discontinued: <%=Stock.discontinued.count %></span>
              <% end %>
            </li>
          </ul>
        </div>
        <div class="content">
          <div id="my-tab-content" class="tab-content">
            <div class="table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Date </th>
                    <th>Product </th>
                    <% if current_page? forwarded_stocks_path %>
                      <th>Forwarded To </th>
                    <% else %>
                      <th>Supplier</th>
                    <% end %>
                    <th class="text-right">Quantity</th>
                    <th>Unit</th>
                    <th class="text-right">Unit Cost </th>
                    <th class="text-right">Total Cost </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @stocks.each do |stock| %>
                    <tr>
                      <td><%= stock.date.strftime('%B %e, %Y') %></td>
                      <td>
                        <% if stock.class.name == "Refund" || stock.class.name == "StockTransfer" %>
                          <%=stock.stock.product.try(:name_and_description) %>
                        <% else %>
                          <%= stock.product.try(:name_and_description) %>
                          <small class='text-right label <%= "label-danger" if stock.out_of_stock? || stock.expired_and_low_stock? %><%= "label-warning" if stock.low_stock? %>'><%= stock.status %></small>
                        <% end %>
                      </td>
                      <td>
                        <% if stock.class.name == "Refund" %>
                          <%= stock.stock.supplier.try(:business_name) %>
                        <% elsif stock.class.name == "StockTransfer" %>
                          <%= stock.supplier.try(:business_name) %>
                        <% else %>
                          <%= stock.supplier.try(:business_name) %>
                        <% end %> 
                      </td>
                      <td class="text-right"><%= stock.quantity %></td>
                      <td>
                        <% if stock.class.name == "Refund" || stock.class.name == "StockTransfer" %>
                          <%= stock.stock.product.unit %>
                        <% else %>
                          <%= stock.product.unit %>
                        <% end %> 
                      </td>
                      <td class="text-right">
                        <% if stock.class.name == "Refund" || stock.class.name == "StockTransfer" %>
                          <%= number_to_currency (stock.amount / stock.quantity) %>
                        <% else %>
                          <%= number_to_currency stock.unit_cost %>
                        <% end %>
                      </td>
                      <td class="text-right">
                        <% if stock.class.name == "Refund" || stock.class.name == "StockTransfer" %>
                          <%= number_to_currency stock.amount %>
                        <% else %>
                          <%= number_to_currency stock.total_cost %>
                        <% end %>
                      </td>

                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="card-footer">
                <center><%=paginate @stocks, params: { controllers: 'stocks', action: 'index' } %></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>