<div class="row">
  <div class="col-md-9 col-md-offset-2">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> New Stock Details</h4>
        </div>
      </div>
      <div class="card-body">
        <%=simple_form_for @stock  do |f| %>
          <%=f.error_notification %>
          <div class="row">
            <div class="col-md-8">
              <%=f.input :product_id, label: "Select Product", collection: Product.all.map { |p| [p.name_and_description, p.id]} %>
            </div>
            <div class="col-md-4">
             <%=f.input :date, as: :string, label: 'Date Purchased', input_html: {class: "datepicker"} %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= f.input :reference_number %>
            </div>
            <div class="col-md-4">
              <%=f.input :expiry_date, as: :string, input_html: {class: "datepicker"} %>
            </div>
          </div>
          <div class="no-padding"><hr></div>
          <h4 class="text-muted">Supplier Details</h4>
          <div class="row">
            <div class="col-md-2">
              <%=f.input :received, label: "Forwarded", input_html: { id: 'stock-received' } %>
            </div>
            <div class="col-md-2">
              <%=f.input :consigned, label: "Consigned" %>
            </div>
            <div class="col-md-6">
              <span class="pull-right"><%= link_to "New Supplier?", new_supplier_path, remote: true %></span>
              <%=f.input :supplier_id, collection: Supplier.all.map{ |a| [a.business_name, a.id]} %>
            </div>
            <%=f.input :payment_type, input_html: {value: 'credit'}, as: :hidden %>
          </div>
          <!-- <div class="no-padding"><hr></div>
          <div class="row" id="discount-and-freight">
            <div class="col-md-6">
              <h4 class="text-muted">Discount Details </h4>
              <%#=f.input :discounted, input_html: { id: 'stock-discount' } %>
              <div class="col-md-12" id='discount-details' style="display:none;">
                <div class="form-group has-warning">
                  <%#=f.input :discount_amount, input_html: {id: 'discount-amount', oninput: 'calculateTotalPurchase()'}%>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <h4 class="text-muted">Freight In Details </h4>
              <%#=f.input :has_freight ,input_html: { id: 'has-freight' } %>
              <div class="col-md-12" id='freight-details' style="display:none;">
                <div class="form-group has-warning">
                  <%#=f.input :freight_amount, input_html: {id: 'freight-amount', oninput: 'calculateTotalPurchase()'}%>
                </div>
              </div>
            </div>
          </div> -->
          <br>
          <div class="row">
            <div class="col-md-4">
              <label>Purchase Quantity</label>
              <%=f.input :quantity, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
            </div>
            <div class="col-md-4">
              <label>Purchase Price</label>
              <%=f.input :unit_cost, label: false, input_html: { class: 'input-lg', oninput: 'calculateTotalPurchase()'}  %>
            </div>
            <div class="col-md-4">
              <%=f.input :total_cost, input_html: { class: 'input-lg' }, label: 'Total Cost', readonly: true %>
            </div>
          </div>
          <div class="modal-footer">
            <%=f.submit "Save Stock", class: "btn btn-primary saveStock" %>
            <span class='pull-left'><%=link_to 'Cancel', stocks_path, class: 'btn btn-default' %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div id="product-modal" class="modal fade"></div>
<div id="supplier-modal" class="modal fade"></div>
<script>
  $(document).ready(function() {
    $("#stock_product_id").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function() {
    $("#stock_supplier_id").select2({
      theme: "bootstrap"
    });
  });
</script>

<script>
  $(document).ready(function(){
    $('.saveStock').prop('disabled',true);
    $('#stock_quantity').change(function(){
      $('.saveStock').prop('disabled', this.value == "" ? true : false);     
    })
  });
</script>

<!-- <script>
  var checkcard = document.getElementById('stock-received');
  var discount_and_freight_div = document.getElementById('discount-and-freight');
  var pay_type_div = document.getElementById('pay-type');
  checkcard.onchange = function() {
     if(this.checked) {
       discount_and_freight_div.style['display'] = 'none';
       pay_type_div.style['display'] = 'none';
     } else {
       discount_and_freight_div.style['display'] = 'block';
       pay_type_div.style['display'] = 'block';
     }
  };
</script> -->