<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> Users <span class="badge"><%=Employee.count %> </span>
            <% if current_user.developer? || current_user.proprietor? %>
              <span class="pull-right">
                <%=link_to new_employee_path do %>
                  <span class="btn btn-primary"><i class="fa fa-user-plus"></i> New User</span>
                <% end %>
              </span>
            <% end %>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <% Employee.all.each do |user| %>
            <tr>
              <td>
                <%=link_to info_user_path(user), class: 'text-muted' do %>
                  <%=image_tag(user.avatar, height: 40, width: 40, class: 'img-circle') %>
                <% end %>
              </td>
              <td>
                <%=link_to user.full_name, info_user_path(user) %>
              </td>
              <td>
                <%=user.role.try(:titleize) %>
              </td>
              <td>
                <% if user == current_user || current_user.developer? || current_user.proprietor? %>
                  <%= link_to "Edit", edit_user_path(user), class: "btn btn-xs btn-warning"%>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4>Business Settings
            <span class="pull-right">
              <%=link_to 'Update', edit_business_path(Business.last), class: 'btn btn-primary', remote: true %>
            </span>
          </h4>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            Business Name
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:name) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            TIN
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:tin) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            Proprietor
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:proprietor) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            VAT Registered
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:vat) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            Address
          </div>
          <div class="col-md-8">
            <%=Business.last.try(:address) %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-4">
            Include Wholesale
          </div>
          <div class="col-md-8">
            <%=Business.last.include_wholesale %>
          </div>
        </div>
        <br>
      </div>
    </div>
    <% if current_user.developer? %>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h4>Import Products</h4>
              </div>
              <div class="col-md-6">
                <% if Product.all.present? %>
                  <%=link_to export_products_path(format: :xlsx) do %>
                    <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_products_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import products in "csv" format, you need to match the header of the csv file to the following: <b>name</b>, <b>description</b>, <b>unit</b>, <b>retail_price</b>, <b>wholesale_price</b>, <b>stock_alert_count</b>.</p>
        </div>
      </div>
      <% if Product.all.present? %>
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <div class="row">
                <div class="col-md-6">
                  <h4>Import Stocks</h4>
                </div>
                <div class="col-md-6">
                  <% if Stock.all.present? %>
                    <%=link_to export_stocks_path(format: :xlsx) do %>
                      <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%= form_tag import_stocks_path, multipart: true do %>
              <div class="input-group stylish-input-group">
                <%= file_field_tag :file, class: 'form-control' %>
                <span class="input-group-btn">
                  <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
                </span>
              </div>
            <% end %>
            <br>
            <p class="text-muted">*To import stocks in "csv" format, you need to match the header of the csv file to the following: </p>
          </div>
        </div>
      <% end %>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <h4>Import Barcodes</h4>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_barcodes_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import barcodes in "csv" format, you need to match the header of the csv file to the following: <b>id</b>, <b>product_id</b>, <b>code</b>.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            <div class="row">
              <div class="col-md-6">
                <h4>Import Members</h4>
              </div>
              <div class="col-md-6">
                <% if Member.all.present? %>
                  <%=link_to export_customers_path(format: :xlsx) do %>
                    <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export (Excel)</span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_tag import_customers_path, multipart: true do %>
            <div class="input-group stylish-input-group">
              <%= file_field_tag :file, class: 'form-control' %>
              <span class="input-group-btn">
                <%= submit_tag 'Import', class: 'form-control btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <br>
          <p class="text-muted">*To import members in "csv" format, you need to match the header of the csv file to the following: <b>last_name</b>, <b>first_name</b></p>
        </div>
      </div>
    <% end %>
  </div> 
</div>
<div id="category-modal" class="modal fade"></div>
<div id="program-modal" class="modal fade"></div>
<div id="business-modal" class="modal fade"></div>
<div id="warranty-modal" class="modal fade"></div>
<div id="regular-rate-modal" class="modal fade"></div>
<div id="irregular-rate-modal" class="modal fade"></div>