<div class="row">
  <div class="col-md-12">
    <div class="card overlap-height">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <br>
              <center>
                <%=image_tag('default.png', height: 50, width: 50, class: "img-circle") %>
                <br>
                <h5><%=@member.full_name.try(:upcase) %></h5>
              </center>
            </div>
            <div class="col-md-2">
              <h4 class="text-info text-center"><%=number_to_currency @member.total_cash_transactions %></h4>
              <h5 class="text-muted text-center">CASH TRANSACTIONS</h5>
              <% if @member.last_cash_order_created_at.present? %>
                <small class="text-muted"><center>Updated <%= time_ago_in_words(@member.last_cash_order_created_at) %> ago</center></small>
              <% end %>
            </div>
            <div class="col-md-2">
              <h4 class="text-danger text-center"><%=number_to_currency @member.total_credit_transactions %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">CREDIT TRANSACTIONS</h5>
              <% if @member.last_credit_created_at.present? %>
                <small class="text-muted"><center>Updated <%= time_ago_in_words(@member.last_credit_created_at) %> ago</center></small>
              <% end %>
            </div>
            <div class="col-md-2">
              <h4 class="text-success text-center"><%=number_to_currency @member.total_payment %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">PAYMENTS</h5>
              <% if @member.last_payment_created_at.present? %>
                <small class="text-muted"><center>Updated <%= time_ago_in_words(@member.last_payment_created_at) %> ago</center></small>
              <% end %>
            </div>
            <div class="col-md-2">
              <h4 class="text-warning text-center"><%=number_to_currency @member.total_remaining_balance %></h4>
              <h5 style="margin-bottom: 1px" class="text-muted text-center">BALANCE</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? info_customer_path %>">
            <%= link_to 'Info', info_customer_path %>
          </li>
          <li class="<%='active' if current_page? purchases_customer_path %>">
            <%= link_to 'Purchases', purchases_customer_path %>
          </li>
          <li class="<%='active' if current_page? payments_customer_path %>">
            <%= link_to 'AR Payments', payments_customer_path %>
          </li>
          <li class="<%='active' if current_page? account_details_customer_path %>">
            <%= link_to 'Account Details', account_details_customer_path %>
          </li>
          <% if current_user.proprietor? || current_user.developer? %>
            <li class="pull-right <%='active' if current_page? advance_payments_customer_path %>">
              <%= link_to 'Payments on Advances', advance_payments_customer_path %>
            </li>
            <li class="pull-right <%='active' if current_page? advances_customer_path %>">
              <%= link_to 'Cash Advances', advances_customer_path %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="content">
        <div id="my-tab-content" class="tab-content">
          <%= render '/customers/transactions/info' if current_page? info_customer_path %>
          <%= render '/customers/transactions/purchases' if current_page? purchases_customer_path %>
          <%= render '/customers/transactions/payments' if current_page? payments_customer_path %>
          <%= render '/customers/transactions/account_details' if current_page? account_details_customer_path %>
          <%= render '/customers/transactions/advances' if current_page? advances_customer_path %>
          <%= render '/customers/transactions/advance_payments' if current_page? advance_payments_customer_path %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="member-modal" class="modal fade"></div>
<div id="catering-customer-modal" class="modal fade"></div>
