<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-2">
              <h4>Sales</h4>
            </div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-3">
                  <h4 class="title text-center"><%=number_to_currency @cash_sales %></h4>
                  <p class="text-muted text-center">DAILY CASH SALES<br>
                    <% if current_page? retail_orders_path %>
                      (Retail)
                    <% else %>
                      (Wholesale)
                    <% end %>
                  </p>
                </div>
                <div class="col-md-3">
                  <h4 class="title text-center"><%=number_to_currency @credit_sales %></h4>
                  <p class="text-muted text-center">DAILY CREDIT SALES<br>
                    <% if current_page? retail_orders_path %>
                      (Retail)
                    <% else %>
                      (Wholesale)
                    <% end %>
                  </p>
                </div>
                <div class="col-md-3">
                  <h4 class="title text-center"><%=number_to_currency @total_sales %></h4>
                  <p class="text-muted text-center">DAILY SALES<br>
                    <% if current_page? retail_orders_path %>
                      (Retail)
                    <% else %>
                      (Wholesale)
                    <% end %>
                  </p>
                </div>
                <div class="col-md-3">
                  <h4 class="title text-center"><%=number_to_currency @total_retail_and_wholesale %></h4>
                  <p class="text-muted text-center">DAILY SALES<br>(Retail & Wholesale)</p>
                </div>
              </div>
              <hr>
            </div>
            <div class="col-md-2">
              <%#= link_to "Consignment Sales", new_accounting_sales_entry_path, class: "btn btn-success pull-right" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4">
              <% if current_page? retail_orders_path %>
                <%=form_tag retail_orders_path, method: :get do %>
                  <div class="input-group stylish-input-group" id="product-prefetch">
                    <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                    <span class="input-group-btn">
                      <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </span>
                  </div>
                <% end %>
              <% elsif current_page? wholesale_orders_path %>
                <%=form_tag wholesale_orders_path, method: :get do %>
                  <div class="input-group stylish-input-group" id="product-prefetch">
                    <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                    <span class="input-group-btn">
                      <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                        <i class="fa fa-search"></i>
                      <% end %>
                    </span>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <% if Business.last.include_wholesale == true %>
          <ul class="nav nav-tabs" role="tablist">
            <li class="<%='active' if current_page? retail_orders_path %>">
              <%= link_to 'RETAIL', retail_orders_path %>
            </li>
            <li role="presentation" class="<%='active' if current_page? wholesale_orders_path %>">
              <%= link_to 'WHOLESALE', wholesale_orders_path %>
            </li>
          </ul>
        <% end %>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-solid">
                  <div class="card-header">
                  </div>
                  <div class="panel-body">
                    <div class="table table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Customer </th>
                              <th>Invoice </th>
                              <th>Date </th>
                              <th> Sub Total </th>
                              <th> Discount </th>
                              <th>Total Sales </th>
                              <th>Cost of Goods Sold </th>
                              <th> Income </th>
                              <th> </th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @orders.each do |order| %>
                              <tr>
                                <td><%= link_to order.customer.try(:full_name) || 'Guest', order, remote: true %></td>
                                <td><%= order.invoice_number.try(:number) %></td>
                                <td><%= order.date.strftime('%B %e, %Y') %></td>
                                <td><%= number_to_currency order.total_amount %></td>
                                <td><%= number_to_currency order.total_discount %></td>
                                <td><%= number_to_currency order.total_amount_less_discount %></td>
                                <td><%= number_to_currency order.cost_of_goods_sold%></td>
                                <td><%= number_to_currency order.income %>
                                <td><%= order.pay_type %></td>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
                      <div class="modal-footer">
                        <center><%= paginate @orders %></center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="order-show-modal" class="modal fade"></div>