<div class="modal-dialog" style="width:700px">
  <div class="modal-content">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-5">
          <h4 class="modal-title">Order Details</h4>
          <p>Invoice No.: <%=@order.invoice_number.try(:number) %></p>
        </div>
        <div class="col-md-7">
          <span class="pull-right">
            <p><%=@order.date.strftime("%A, %B %e, %Y %H:%m %p") %></p>
            <% if @order.line_items.present? %>
              <span>
                <%=link_to order_return_path(@order), data: { confirm: "By doing so, all line items under this order will be returned. Do you wish to continue?"} do %>
                  <span class="btn btn-danger btn-xs" title="By doing so, all line items under this order will be deleted too" data-toggle='tooltip'><i class="fa fa-exclamation"></i> Return this Order</span>
                <% end %>
                <%=link_to 'Print Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-xs' %>
              </span>
            <% else %>
              <span>
                <%=link_to order_path(@order), method: :delete, data: { confirm: "By doing so, all line items under this order will be returned. Do you wish to continue?"} do %>
                  <span class="btn btn-danger btn-xs" title="Delete Order" data-toggle='tooltip'><i class="fa fa-trash"></i></span>
                <% end %>
                <%=link_to 'Print Invoice', print_invoice_order_path(@order, format: 'pdf'), class: 'btn btn-primary btn-xs' %>
              </span>
            <% end %>
          </span>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <h4>Customer</h4>
          <table class="table">
            <tr>
              <td width="150px"><b>Name: </b></td>
              <td><%=@order.customer.try(:full_name) || 'Guest'%></td>
            </tr>
            <tr>
              <td width="150px"><b>Address: </b></td>
              <td><%=@order.customer.try(:address_details) || 'N/A' %></td>
            </tr>
            <tr>
              <td width="150px"><b>Mobile Number:</b></td>
              <td><%=@order.customer.try(:mobile_number) || 'N/A' %></td>
            </tr>
          </table>
          <hr>
            <h4><b>Items (<%= @order.line_items.count %>)</b></h4>
          <br>
          <table class="table table-hover">
            <%@order.line_items.each do |line_item| %>
              <tr>
                <td><%=line_item.stock.try(:name)%></td>
                <td><%=line_item.quantity %> <%= line_item.stock.product.unit%></td>
                <td class="text-right">
                  <%=number_to_currency line_item.unit_price %>
                </td>
                <td class="text-right">
                  <%=number_to_currency line_item.total_price %>
                </td>
                <% if @order.line_items.count > 1 %>
                  <td>
                    <div class="pull-right">
                      <%=link_to line_item_return_path(order_id: @order.id, line_item_id: line_item.id), method: 'return', data: {confirm: 'Are you sure?'} do %>
                        <span class="btn btn-danger btn-xs" title="Return Item" data-toggle='tooltip'><i class="fa fa-undo"></i></span>
                      <% end %>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
            <tr>
              <td></td>
              <td></td>
              <% if @order.line_items.count > 1 %>
                <td></td>
              <% end %>
              <td width="60px" class="text-right"><b>SubTotal: </b></td>
              <td class="text-right"><%=number_to_currency @order.total_amount %></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <% if @order.line_items.count > 1 %>
                <td></td>
              <% end %>
              <td width="60px" class="text-right"><b class="text-danger">Discount: </b></td>
              <td class="text-right"><span class='text-danger'><%= number_to_currency @order.total_discount%></span></td>
            </tr>
            <tr>
              <td><%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %></td>
              <td></td>
              <td></td>
              <td width="60px" class="text-right"><h4><b>Total:</b></h4></td>
              <td class="text-right"><h4><%=number_to_currency @order.total_amount_less_discount %></h4></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
