

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <h4> New Cash Advance Payment Details </h4>
        </div>
      </div>
      <div class="card-body">
        <%= simple_form_for @entry, url: :customer_payments do |f| %>
          <%= f.error_notification %>
          <div class="row">
            <div class="col-md-6">
              <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
            </div>
            <div class="col-md-6">
              <%=f.input :reference_number %>
            </div>
          </div>
          <%= f.input :entry_type, input_html: {value: "employee_payment"}, as: :hidden %>
          <%=f.input :description, as: :text, placeholder: "Partial / Full Payment" %>

          <h4>AMOUNT</h4>

          <%=f.simple_fields_for :debit_amounts do |ff| %>
            <div class="form-group has-success">
              <%=ff.input :amount, as: :string, input_html: {value: @member.total_cash_advance_balance, class: 'input-lg' } %>
            </div>
            <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand").id}, readonly: true, as: :hidden %>
          <% end %>

          <%=f.simple_fields_for :credit_amounts do |ff| %>
            <%=ff.input :amount, input_html: { value: @member.total_remaining_balance }, readonly: true, as: :hidden %>
            <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Advances to Officers, Employees and Members").id}, readonly: true, as: :hidden %>
          <% end %>
          <%= f.input :commercial_document_id, input_html: { value: @member.id }, as: :hidden %>
          <%= f.input :commercial_document_type, input_html: { value: @member.class }, as: :hidden %>
          <%= f.input :employee_id, input_html: { value: current_user.id }, as: :hidden %>
        
          <div class="modal-footer">
            <%= f.submit 'Save Payment', class: "btn btn-primary" %>
            <span class="pull-left">
              <%=link_to 'Cancel', advances_customer_path(@member), class: 'btn btn-default' %>
            </span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
