<div class="row">
  <div class="col-md-12">
    <div class="card overlap-height">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-3">
              <h4>Accounts Receivables </h4>
            </div>
            <div class="col-md-6">
              <%=form_tag credits_path, method: :get do %>
                <div class="input-group stylish-input-group" id="product-prefetch">
                  <%= autocomplete_field_tag "full_name", params[:full_name], autocomplete_customer_full_name_customers_path, class: 'form-control', placeholder: 'Enter Customer Name...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-3">
              <%#=link_to "Add Interests", accounts_receivables_interests_path, method: :post, class: "btn btn-primary" %>
              <span class="pull-right">
                <%=link_to 'Print Report', credits_path(format: 'pdf'), class: "btn btn-danger" %>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Updated at</th>
                <th>Customer </th>
                <th>Principal</th>
                <th>Payment</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <% @members.each do |member| %>
                <tr>
                  <td><%=member.last_credit_created_at.try(:strftime, "%B %e, %Y") %></td>
                    <td>
                      <% if member.avatar.attached? %>
                        <%=image_tag(member.avatar, class: 'img-circle', height: 35, width: 35) %>
                      <% else %>
                        <%=image_tag("default.png", class: 'img-circle', height: 35, width: 35) %>
                      <% end %>
                      <%=link_to member.full_name, account_details_customer_path(member) %>
                    </td>
                    <td><%=number_to_currency member.total_credit %></td>
                    <td><%=number_to_currency member.total_payment %></td>
                    <td><%=number_to_currency member.total_remaining_balance %></td></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
