<div class="tab-pane <%='active' if current_page? credit_stocks_supplier_path %>" >
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Product</th>
        <th>QTY </th>
        <th> Lot Number </th>
        <th> Cost </th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @credit_stocks.each do |stock| %>
        <tr>
          <td><%= stock.date.strftime('%B %e, %Y') %></td>
          <td><%= stock.product.name %></td>
          <td><%= stock.quantity %></td>
          <td><%= stock.lot_number %></td>
          <td><%= number_to_currency stock.unit_cost %></td>
          <td><%= number_to_currency stock.total_cost %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="modal-footer">
    <center><%= paginate @credit_stocks, :window => 1 %></center>
  </div>
</div>
