<div class="tab-pane <%='active' if current_page? credit_payments_supplier_path %>">
  <div class="row">
    <div class="col-md-6">
      <h4>Credit Payments</h4>
    </div>
    <div class="col-md-6">
      <% if @supplier.has_credit? %>
        <span class='pull-right'><%=link_to 'New Payment', new_supplier_payment_path(@supplier), class: 'btn btn-danger', remote: true %></span>
      <% end %>
    </div>
  </div>
  <div class="table table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th> Date </th>
          <th> Description </th>
          <th> Reference Number </th>
          <th> Amount </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @credit_payments.each do |payment| %>
        <tr>
          <td><%=payment.date.strftime("%B %e, %Y") %></td>
          <td><%=payment.description %></td>
          <td><%=payment.reference_number %></td>
          <td><%=number_to_currency payment.debit_amounts.sum(:amount) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div id="supplier-payment-modal" class="modal fade"></div>