<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title">ADD TO EXPENSE</h3>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <h4>Product Name: </h4>
          <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
          <span class="text-info"><%= @stock.product.name %></span></h4>
          <hr>
          <% if @stock.expired? %>
            <h4>Status: </h4>
            <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="text-danger"><%= @stock.alert %></span></h4>
            <hr>
            <h4>Quantity: </h4>
            <h4>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <span class="text-success"><%= @stock.in_stock %> <%= @stock.product.unit %></span></h4>
            <hr>
            <br>
            <h4 class="text-muted">*You are trying to discontinue selling this stock. By doing so will be listed to entries as an expense. Do you wish to continue?</h4>
          <% end %>
          <%=simple_form_for [@stock, @item_expense], url: :product_stock_item_expenses, remote: true do |f| %>
          <%=f.error_notification %>
            
            <% if @stock.expired? %>
              <%=f.input :quantity, label: false, input_html: {value: @stock.in_stock, class: "input-lg"}, as: :hidden %>
              <%=f.input :expense_type, input_html: {value: "expired", class: "input-lg"}, as: :hidden %>
            <% else %>
              <h4>Quantity in (<%= @stock.product.unit %>)</h4>
              <%=f.input :quantity, label: false, input_html: {value: @stock.in_stock, class: "input-lg"} %>
              <hr>
              <h4>Expense Type</h4>
              <%=f.input :expense_type, label: false, collection: whitelisted_expense_types, as: :radio_buttons %>
            <% end %>
            <%=f.input :product_id, input_html: {value: @stock.product.id}, as: :hidden %>
            <%=f.input :employee_id, input_html: {value: current_user.id}, as: :hidden %>
            <br>
            <div class="modal-footer">
              <br>
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
              <%=f.submit "Save as Expense", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="stock-show-modal" class="modal fade"></div>