$("ul.errors").html("")
<% if @item_expense.errors.any? %>
  <% @item_expense.errors.full_messages.each do |message| %>
    $("ul.errors").append($("<li />").html("<%= message.html_safe %>"))
  <% end %>
<% else %>
  $("#item-expense-modal").modal("hide")
  window.location.reload();
<% end %>
