<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4>
        <%=@product.name_and_description %> &nbsp &nbsp <small class='label label-danger'><%=@item_expense.expense_type.titleize %></small>
      </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <table class="table table-hover">
            <tr>
              <td>Date of Purchase:</td>
              <td><h5><%=@stock.date.strftime("%B %e,%Y") %></h5></td>
            </tr>
            <tr>
              <td>Supplier:</td>
              <td><h5><%=@stock.supplier %></h5></td>
            </tr>
            <tr>
              <td>Expiry Date:</td>
              <td><h5><%= @stock.expiry_date.try(:strftime, ("%B %e,%Y")) || "N/A" %></h5></td>
            </tr>
            <tr>
              <td>Lot Number:</td>
              <td><h5><%=@stock.try(:lot_number) || "N/A" %></h5></td>
            </tr>
            <tr>
              <td>Purchase Quantity:</td>
              <td><h5><%=@item_expense.quantity %> <%=@product.unit %></h5></td>
            </tr>
            <tr>
              <td>Purchase Price:</td>
              <td><h5><%=number_to_currency @stock.unit_cost %></h5></td>
            </tr>
            <tr>
              <td> Total Cost:</td>
              <td><h5><%=number_to_currency (@item_expense.quantity*@stock.unit_cost) %></h5></td>
            </tr>
          </table>
          <div class="modal-footer">
            <div class="pull-left">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
            </div>
            <div class="pull-right">
              <%= link_to "Remove from Expenses", product_stock_item_expense_remove_from_expenses_path(product_id: @product.id, stock_id: @stock.id, item_expense_id: @item_expense.id), class: 'btn btn-danger', data: {confirm: "You are trying to remove this stock from expense entries. It will be listed on stocks after confirmation. Do you wish to continue? "} %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>