<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Payment Details </h4>
      <p class="title">Total Remaining Balance: <%= number_to_currency @supplier.total_remaining_balance %></p>
    </div>
    <div class="modal-body">
      <ul class="errors text-danger">
      </ul>
      <%= simple_form_for @entry, url: :supplier_payments do |f| %>
      <%= f.error_notification %>
        <div class="row">
          <div class="col-md-6">
            <%=f.input :reference_number %>
          </div>
          <div class="col-md-6">
            <%=f.input :date, as: :string, input_html: { class: "datepicker" } %>
          </div>
        </div>
        <%=f.input :description, as: :text %>
        <%=f.simple_fields_for :debit_amounts do |ff| %>
        <%=ff.input :amount %>
        <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Accounts Payable-Trade").id}, readonly: true, as: :hidden %>
        <% end %>
        <%=f.simple_fields_for :credit_amounts do |ff| %>
        <%=ff.input :amount, as: :hidden %>
        <%=ff.input :account_id, input_html: { value: Accounting::Account.find_by(name: "Cash on Hand").id}, readonly: true, as: :hidden %>
      <% end %>
      <div class="modal-footer">
        <%= link_to "Cancel", credit_stocks_supplier_path(@supplier), class: 'btn btn-default pull-left' %>
        <%= f.submit 'Save Payment', class: "btn btn-primary" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('.datepicker').datetimepicker({
      format: 'YYYY-MM-DD hh:mm A',
      showClose: true,
        widgetPositioning: {
              horizontal: 'auto',
              vertical: 'auto'
        }
    });
  });
</script>

<script type="text/javascript">
  var credit_amount = document.getElementById("accounting_entry_credit_amounts_attributes_0_amount");

  $("#accounting_entry_debit_amounts_attributes_0_amount").keyup(function() {
    credit_amount.value = this.value;
  });
</script>