<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <h4>Accounts</h4>
            </div>
            <div class="col-md-4">
              <%=form_tag inactive_accounts_accounting_index_path, method: :get do %>
                <div class="input-group">
                  <%= autocomplete_field_tag "name", params[:name], autocomplete_account_name_accounting_index_path, class: 'form-control', placeholder: 'Search Account...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-4">
              <%= link_to "New Account", new_accounting_account_path, remote: true, class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation">
            <%= link_to "Active Accounts", active_accounts_accounting_index_path %>
          </li>
          <li role="presentation" class="active">
            <%= link_to "Inactive Accounts", inactive_accounts_accounting_index_path %>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active">
            <div class="table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th> Code </th>
                    <th> Name </th>
                    <th> Type </th>
                    <th> Debits </th>
                    <th> Credits </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% @inactive_accounts.each do |account| %>
                    <tr>
                      <td><%=account.code %></td>
                      <td>
                        <%= link_to accounting_account_path(account) do %>
                          <%= account.name %><small class="text-info"><%=(account.main_account.try(:name))%> </small>
                        <% end %>
                      </td>
                      <td><%=account.type.gsub('Accounting::', '') %></td>
                      <td><%= number_to_currency account.debits_balance %></td>
                      <td><%= number_to_currency account.credits_balance %></td>
                      <td>
                        <%if account.inactive? %>
                          <%=link_to activate_accounting_account_path(account), method: :post do %>
                            <btn class="btn"><i class="fa fa-toggle-off fa-2x"></i></btn>
                          <% end %>
                        <% elsif account.active? %>
                          <%=link_to deactivate_accounting_account_path(account), method: :post do %>
                            <btn class="btn"><i class="fa fa-toggle-on fa-2x"></i></btn>
                          <% end %>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <div class="modal-footer">
                <center><%= paginate @inactive_accounts, :window => 1 %></center>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="account-modal" class="modal fade"></div>