<div id="product-modal" class="modal fade"></div>
<div class="row">
  <div class="col-md-12">
    <div class="card overlap-height">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <%=form_tag products_path, method: :get do %>
                <div class="input-group">
                  <%= autocomplete_field_tag "name_and_description", params[:name_and_description], autocomplete_product_name_and_description_products_path, class: 'form-control', placeholder: 'Search Product...' %>
                  <span class="input-group-btn">
                    <%= button_tag(type: 'submit', class: "btn btn-flat") do %>
                      <i class="fa fa-search"></i>
                    <% end %>
                  </span>
                </div>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to products_path(format: 'pdf') do %>
                <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> View Report</span>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to download_products_path(format: :xlsx) do %>
                <span class="btn btn-default pull-right"><i class="fa fa-file-text-o"></i> Export Products(Excel)</span>
              <% end %>
            </div>
            <div class="col-md-2">
              <%= simple_form_for ProductImport.new, url: products_imports_path, html: {id: "product_importer"} do |f| %>
                <div class="row">
                  <div class="col-md-2">
                    <%= f.input :spreadsheet_file, as: :file, label: false, input_html: { class: 'choose-btn center-block', style: 'visibility: hidden', id: "spreadsheet_file" } %>
                    <%= f.input :employee_id, as: :hidden, input_html: {value: current_user.id} %>
                  </div>
                  <div class="col-md-10">
                    <a href="" class="btn btn-default pull-right" id="browse_file" title="Import products from Excel" data-toggle="tooltip">Import Products</a>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="col-md-2">
              <%=link_to new_product_path, remote: true do %>
                <span class="btn btn-primary pull-right"><i class="fa fa-plus"></i> New Product</span>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive table-full-width">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Unit</th>
                <th><span class='pull-right'> Retail</span></th>
                <% if Business.last.include_wholesale == true %>
                  <th><span class='pull-right'> Botika</span> </th>
                  <th><span class='pull-right'> Pharmacy</span> </th>
                <% end %>
                <th><span class='pull-right'>In Stock</span></th>
                <th><span class='pull-right'>Sold </span></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr class="<%="text-danger" if product.out_of_stock?%> <%= "text-warning" if product.low_stock?%>">
                  <td>
                    <%=link_to product.name_and_description.upcase, stock_histories_product_path(product) %>
                    <small class="label label-<%="danger" if (product.out_of_stock? || product.any_expired_and_low_stock? || product.any_expired?) %><%= "warning" if product.low_stock?%>">
                      <%= product.stock_alert %>
                    </small>
                  </td>
                  <td><%= product.unit %></td>
                  <td><span class='pull-right'><%=number_to_currency product.retail_price%></span></td>
                  <% if Business.last.include_wholesale == true %>
                    <td><span class='pull-right'><%=number_to_currency product.botika_price%></span></td>
                    <td><span class='pull-right'><%=number_to_currency product.pharmacy_price%></span></td>
                  <% end %>
                  <td><span class='pull-right'><%=product.in_stock%></span></td>
                  <td><span class="pull-right"><%=product.sold %></span></td>
                  <td class="text-right">
                    <a tabindex="0" id="details" class="btn btn-xs btn-info" role="button" data-toggle="popover" data-placement="left" data-html="true" data-trigger="focus" title="Options" data-content='<%=link_to "Details", stock_histories_product_path(product), class: "btn btn-xs btn-info btn-block" %>
                      <%=link_to "Add Stock", new_product_stock_path(product), class: "btn btn-xs btn-primary btn-block" %>
                      <%=link_to "Edit Item", edit_product_path(product), class: "btn btn-xs btn-success btn-block", remote: true %>
                      <%= link_to product_path(product), method: :delete, data: {confirm: "Are you sure you want to delete this stock? This action can not be undone."}, class: "btn btn-xs btn-danger btn-block" do %>
                        <span><i class="fa fa-trash"></i> Delete Item</span>
                      <% end %>'>
                      Options
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <center><%= paginate @products, params: { controllers: 'products', action: 'index' } %></center>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#search').bind('railsAutocomplete.select', function(event, data){
  $('#search-form').submit()
  });
</script>

<script type="text/javascript">
  $("#browse_file").click(function(e) {
    $("#spreadsheet_file").click();
    e.preventDefault();
    e.stopPropagation();
    $("#spreadsheet_file").change(function() {
      var val = $("#spreadsheet_file").val();
      if (val != ''){
        $("#product_importer").submit();
      }
    });
  });
</script>