<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Product </h4>
    </div>
    <div class="box-body">
      <div class="content">
        <div class="modal-body">
          <ul class="errors text-danger">
          </ul>
          <%=simple_form_for @product, remote: true do |f| %>
          <%=f.error_notification %>
            <%=f.input :name, autofocus: true, label: "Description" %>
            <div class="row">
              <div class="col-md-6">
                <%= f.input :unit, label: 'Unit' %>
              </div>
              <div class="col-md-6">
                <%=f.input :stock_alert_count %>
              </div>
            </div>
            <%=f.input :retail_price, label: 'Retail Price' %>
            <% if Business.last.include_wholesale == true %>
              <label>Wholesale Price</label>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <%=f.input :botika_price, label: 'Botika' %>
                </div>
                <div class="col-md-6">
                  <%=f.input :pharmacy_price, label: 'Pharmacy' %>
                </div>
              </div>
            <% else %>
              <%=f.input :botika_price, label: 'Botika', as: :hidden, input_html: {value: 0} %>
              <%=f.input :pharmacy_price, label: 'Pharmacy', as: :hidden, input_html: {value: 0} %>
            <% end %>
            <div class="modal-footer">
              <%= link_to "Cancel", "#", class: "btn pull-left btn-default", data: {dismiss: "modal"} %>
              <%=f.submit "Save Product", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <script>
  var checkbox = document.getElementById('program-product');
  var details_div = document.getElementById('programs');
  checkbox.onchange = function() {
     if(this.checked) {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script> -->