<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          <div class="row">
            <div class="col-md-4">
              <h4>
                <%=@supplier.business_name.try(:upcase) %><br />
                <small><i class='fa fa-user'></i> &nbsp; <%=@supplier.owner %></small><br />
                <small><i class='fa fa-map-marker'></i> &nbsp; <%=@supplier.address %></small><br />
                <small><i class='fa fa-phone'></i> &nbsp; <%=@supplier.mobile_number %></small><br />
              </h4>
            </div>
            <div class="col-md-2">
              <h4 class="title text-center"><%=number_to_currency @supplier.total_credit %></h4>
              <h5 class="text-muted text-center"> CREDITS </h5>
            </div>
            <div class="col-md-2">
              <h4 class="title text-center"><%=number_to_currency @supplier.total_payment %></h4>
              <h5 class="text-muted text-center"> PAYMENTS </h5>
            </div>
            <div class="col-md-2">
              <h4 class="title text-center"><%=number_to_currency @supplier.total_remaining_balance %></h4>
              <h5 class="text-muted text-center"> BALANCE </h5>
            </div>
            <div class="col-md-2">
              <span class='pull-right'><%=link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-danger', remote: true %></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
      <div class="nav-tabs-navigation">
        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
          <li class="<%='active' if current_page? cash_stocks_supplier_path %>">
            <%= link_to 'Stocks (Cash)', cash_stocks_supplier_path %>
          </li>
          <li class="<%='active' if current_page? credit_stocks_supplier_path %>">
            <%= link_to 'Stocks (Credit)', credit_stocks_supplier_path %>
          </li>
          <li class="<%='active' if current_page? credit_payments_supplier_path %>">
            <%= link_to 'Payments History', credit_payments_supplier_path %>
          </li>
        </ul>
      </div>
      <div class="content">
        <div class="tab-content">
          <%= render '/suppliers/histories/cash_stocks' if current_page? cash_stocks_supplier_path %>
          <%= render '/suppliers/histories/credit_stocks' if current_page? credit_stocks_supplier_path %>
          <%= render '/suppliers/histories/credit_payments' if current_page? credit_payments_supplier_path %>

        </div>
      </div>
    </div>
  </div>
</span>
<div id="supplier-modal" class="modal fade"></div>